* {
    margin: 0px;
    padding: 0px;
}

/*#region FONTFACE*/
@font-face {
    font-family: title;
    src: url(MPlus.ttf);
}

@font-face {
    font-family: paragraph;
    src: url(Raleway.ttf);
}

/*#endregion*/

body {
    position: relative;
    min-height: 90vh;
}

h1,
h3 {
    font-family: title;
}

h4 {
    font-family: title;
    font-style: italic;
    font-size: 9pt;
    padding-bottom: 30px;
}

p,
a {
    font-family: paragraph;
}

.IndexDiv {
    margin: 30px;
}

.IndexP {
    width: 40vw;
    text-align: justify;
}

.mainMenu {
    float: right;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 15px 20px;
    font-size: 10pt;
    border-top: solid 1px violet;
    position: absolute;
    top: 100%;
    width: 96vw;
    margin-top: 50px;
}