* {
    margin: 0px;
    padding: 0px;
}

/*#region FONTFACE*/
@font-face {
    font-family: title;
    src: url(MPlus.ttf);
}

@font-face {
    font-family: paragraph;
    src: url(Raleway.ttf);
}
/*#endregion*/


h1 {
    font-family: title;
}

p,
a {
    font-family: paragraph;
}

.IndexDiv {
    padding: 30px;
}

.IndexP {
    width: 40vw;
    text-align: justify;
}

.mainMenu {
    position:absolute;
    position:fixed;
    bottom: 100px;
    border-radius: 10px;
    background-color: aquamarine;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    padding: 15px 20px;
    position: absolute;
    bottom: 0;
    width: 97vw; 
    font-size: 10pt;  
    border-top: solid 1px violet; 
}