<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ndupcopy · view</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../Resources/main.css'>
    <link rel='icon' type='icon' href='../Resources/file.svg'>
</head>
<body>
    <div class="IndexDiv">
        <h1>Clase 'Controller'</h1>
        <h4>- documentación web -</h4>
        <a class="mainMenu" href="../selection.html">Main Menu</a> 
        <p class="IndexP">
            La utilidad de esta clase es la de <i>mostrar por pantalla</i> la distinta información que ofrece el programa.
            El usuario puede, mediante la consola de mando, introducir la información que se le solicita, como carpeta de origen, o 
            carpeta de destino.            
        </p>
        <br>
        <h4>Funciones y Atributos</h4>
        <p class="IndexP">
            <u>~ DisplaySplashScreen()</u> : void<br>
            Muestra por pantalla el 'splashScreen' de la aplicación.            
        </p>
        <br>
        <p class="IndexP">
            <u>~ DisplaySetOriginFolder(originFolder)</u> : string<br>
            Una función que establece la carpeta de origen.
        </p>
        <br>
        <p class="IndexP">
            <u>~ DisplaySetTargetFolder(targetFolder)</u> : string<br>
            Una función que establece la carpeta de destino.
        </p>
        <br>
        <p class="IndexP">
            <u>~ DisplayCopyingFiles()</u> : void<br>
            Muestra por pantalla la pantalla de carga y copiado de archivos.
        </p>
        <br>
        <p class="IndexP">
            <u>~ DisplayExitScreen()</u> : void<br>
            Muestra por pantalla el mensaje de salida del programa.
        </p>
    </div>
    
    <footer>
        <p>Andres Yves Elianor Lopez</p>
        <p>Programacion @2024</p>
        <p>DAM - Mare Nostrum</p>
    </footer>    
</body>
</html>