<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ndupCopy</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../Resources/main.css'>
</head>
<body>
    <div class="IndexDiv">
        <h1>Clase 'View'</h1>
        <h4>-DOCUMENTACION WEB-</h4>
        <p class="IndexP">
            La utilidad de esta clase es la de <i>mostrar por pantala</i> la distinta información que ofrece el programa.
            El usuario puede, mediante la consola de mando, introducir la información que se le solicita, como carpeta de origen, o 
            carpeta de destino.            
        </p>
        <br>
        <h4>Funciones y Atributos</h4>
        <p class="IndexP">
            ~ DisplaySplashScreen() : void<br>
            Muestra por pantalla el 'splashScreen' de la aplicación.
            <br>
        </p>
        <p class="IndexP">
            ~ DisplaySetOriginFolder() : string<br>
            Una función que establece la carpeta de origen.
            <br>
        </p>
        <p class="IndexP">
            ~ DisplaySetTargetFolder : string<br>
            Una función que establece la carpeta de destino.
            <br>
        </p>
        <p class="IndexP">
            ~ DisplayCopyingFiles() : void<br>
            Muestra por pantalla la pantalla de carga y copiado de archivos.
            <br>
        </p>
        <p class="IndexP">
            ~ DisplayExitScreen() : void<br>
            Muestra por pantalla el mensaje de salida del programa.
        </p>
        <a class="mainMenu" href="../selection.html">Main Menu</a>
    </div>
    
    <footer>
        <p>Andres Yves Elianor Lopez</p>
        <p>Programacion @2024</p>
        <p>DAM - Mare Nostrum</p>
    </footer>    
</body>
</html>