<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ndupcopy · view</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='../Resources/main.css'>
    <link rel='icon' type='icon' href='../Resources/file.svg'>
</head>
<body>
    <div class="IndexDiv">
        <h1>Clase 'View'</h1>
        <h4>- documentación web -</h4>
        <a class="mainMenu" href="../selection.html">Main Menu</a> 
        <p class="IndexP">
            La utilidad de esta clase es la de <i>mostrar por pantalla</i> la distinta información que ofrece el programa.
            El controlador, en cada paso del programa, actualiza el modelo de datos y muestra la información necesaria en la interfaz 
            gráfica a través de esta clase estática.
        </p>
        <br>
        <p class="IndexP">
            <b><u>~ DisplaySplashScreen()</u> : void</b><br>
            Muestra por pantalla el 'splashScreen' de la aplicación.            
        </p>
        <br>
        <p class="IndexP">
            <b><u>~ DisplaySetOriginFolder(originFolder)</u> : string</b><br>
            Una función que establece la carpeta de origen.
        </p>
        <br>
        <p class="IndexP">
            <b><u>~ DisplaySetTargetFolder(targetFolder)</u> : string</b><br>
            Una función que establece la carpeta de destino.
        </p>
        <br>
        <p class="IndexP">
            <b><u>~ DisplayCopyingFiles()</u> : void</b><br>
            Muestra por pantalla la pantalla de carga y copiado de archivos.
        </p>
        <br>
        <p class="IndexP">
            <b><u>~ DisplayExitScreen()</u> : void</b><br>
            Muestra por pantalla el mensaje de salida del programa.
        </p>
    </div>
    
    <footer>
        <p>Andres Yves Elianor Lopez</p>
        <p>Programacion @2024</p>
        <p>DAM - Mare Nostrum</p>
    </footer>    
</body>
</html>